<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>写真アップロード</title>
  <style>
      body {
        font-size: 30px;
        font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, Osaka, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
      }
      .message {
        background-color: #fcc;
      }

      .radio-button {
          display: none;
      }

      .radio-label {
          display: inline-block;
          padding: 10px 20px;
          border: 2px solid #007bff;
          border-radius: 5px;
          background-color: #f8f9fa;
          color: #007bff;
          cursor: pointer;
          margin-right: 10px;
          transition: background-color 0.3s, color 0.3s;
          width: 30%;
          text-align: center;
      }

      .radio-button:checked + .radio-label {
          background-color: #007bff;
          color: #ffffff;
      }

      div.div-line {
        border: 2px solid #aaa;
        margin: 10px;
      }
      div.div-header {
        background-color: #ccc;
        padding: 5px;
      }
      div.div-body {
        padding: 10px;
      }

      .custom-file-label {
        display: inline-block;
        padding: 10px 20px;
        border: 2px solid #007bff;
        border-radius: 5px;
        background-color: #f8f9fa;
        color: #007bff;
        cursor: pointer;
        margin-right: 10px;
        transition: background-color 0.3s, color 0.3s;
        text-align: center;
      }

      button {
        font-size: 30px;
        height:100px;
        background-color:rgb(95, 156, 254);
        border-radius:10px;
        border:2px solid rgb(194, 194, 244);
        padding: 20px;
      }
  </style>
</head>
<body>
  <h2>写真の登録</h2>
  <p class="message"><%= dynamicValue %></p>
  <form action="/upload" method="post" enctype="multipart/form-data">
    <div class="div-line">
      <div class="div-header">
        登録者
      </div>
      <div class="div-body">
        <% for (let i=0; i<userCount; i++) { %>
        <input
          type="radio"
          name="optUser"
          class="radio-button"
          id=<%= `optUser${i}` %>
          value=<%= `${i}` %>
          <% if (i===0) { %>
            <%= (!currentUser || (currentUser === `${i}`))? 'checked': '' %>
          <% } else { %>
            <%= (currentUser && (currentUser === `${i}`))? 'checked': '' %>
          <% } %>
        />
        <label
          class="radio-label"
          for=<%= `optUser${i}` %>
        >
          <%= (userNames && (userNames.length>i) && (userNames[i].length > 0))? userNames[i]: `${i+1}` %>
        </label>
        <% } %>
      </div>
    </div>
    <div class="div-line">
      <div class="div-header">
        写真を選択<br />(写真ライブラリから)
      </div>
      <div class="div-body">
        <label for="file-upload" class="custom-file-label">ファイルを選択</label>
        <input id="inputFiles" type="file" name="files" style="display:none" multiple required>
      </div>
    </div>
    <hr style="margin: 40px 0" />
    <button
      type="submit"
    >登録実行</button>
  </form>
  <script>
    document.querySelector('.custom-file-label').addEventListener('click', function() {
      document.getElementById('inputFiles').click();
    }); 
  </script>
</body>
</html>
